$colors: (
        'color-primary': $color_primary,
        'color-secondary': $color_secondary,
        'color-border': $color_border,
        'color-text-primary': $color_text_primary,
        'color-text-secondary': $color_text_secondary,
        'color-text-teritary': $color-text_tertiary,
        'color_green': $color_green,
        'color_grey': $color_grey,
        'color_grey_1': $color_grey_1,
        'color_grey_2': $color_grey_2,
        'color_grey_3': $color_grey_3,
        'color_grey_4': $color_grey_4,
        'color_white': $color_white,
        'color_border': $color_border,
        'color_black': $color_black
);

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
  .#{$color} {
    color: $value;
  }
}
