//Color
$color_primary: #009967;
$color_secondary: #ee2d33;
$color_border: #F6F6F9;

$color_text_primary: #000000;
$color_text_secondary: #9B9BA5;
$color_text_tertiary: #999;

$color_green: #DDFFE3;

$color_grey: #9B9BA5;
$color_grey_1: #999999;
$color_grey_2: #ccc;
$color_grey_3: #666;
$color_grey_4: #707070;

$color_white: #fff;
$color_black: #000;

$color_border: #F0F0F0;


//Font
$font_primary: 'svn-gotham-regular', arial;
$font_secondary: 'sf-pro-display', arial;
