@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
.modal {
  &__overlay {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(64,80,94,.5);
    // opacity: 0.2;
    transition: opacity .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  &__content {
    z-index: 1002;
    width: 43%;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color_light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  &__head {
    border-bottom: 1px solid $color_border_form;
    padding: 0.875rem 1.3125rem;
  }
  &__body {
    min-height: 20vh;
    max-height: 50vh;
    padding: 0.875rem 1.3125rem;
  }
}
.modal-confirm {
  &__content {
    z-index: 1002;
    width: 450px;
    position: fixed;
    top: 25% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color_light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.875rem 1.3125rem;
  }
  &__body {
    position: relative;
    min-height: 10vh;
  }
  &__actions {
    button {
      margin: 0 0.2rem;
    }
  }
}
@media screen and (max-width: 1200px){
  .modal {
    &__content {
      width: 60%;
    }
  }
}
@media screen and (max-width: 1024px){
  .modal {
    &__content {
      width: 80%;
    }
  }
}
@media screen and (max-width: 767px){
  .modal {
    &__content {
      width: 90%!important;
    }
  }
}
@media screen and ( max-width: 575px ) {
  .modal-confirm {
    &__content {
      width: 90% !important;
    }
  }
}