@import 'assets/scss/variables';
.range-custom {
  .range-slide {
    height: 10px;
    &__rail, &__track {
      height: 10px;
      transition: background-color .3s;
    }
    &__track {
      border-radius: 20px 0 0 20px;
    }
    &__handle {
      padding-top: 19px;
      border: 1px solid #b4dbc8;
      box-shadow: 0;
      transition: border-color .3s,box-shadow .6s,transform .3s cubic-bezier(.18,.89,.32,1.28);
      transform: translateX(-50%);
      border-color: $primary_color;


      .handle {
        left: -6.5px;
        bottom: 100%;
        .icon-handle {
          width: 13px;
          height: 13px;
          border: 3px solid $primary_color;
          .point {
            width: 5px;
            height: 5px;
          }
        }
      }
      .data-month {
        top: 25px;
        span {
          margin-right: 3px;
        }
      }
    }

    input[type="range"]::-webkit-slider-runnable-track {
      cursor: pointer;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 18px solid $primary_color;
    }
  }
}