@import 'assets/scss/variables';
.tab-menu {
  &__button {
    padding: 0.75rem 0;
    margin-top: 1rem;
    border-top: 1px solid $color_border;
    border-bottom: 1px solid $color_border;
    .btn:not(:last-child) {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  ul {
    border-bottom: 1px solid $color_border_form;
  }
  .item {
    margin-right: 1.5rem;
    &:hover {
      border-bottom: 2px solid $color_txt_secondary;
    }
    &--active {
      border-bottom: 2px solid $primary_color !important;
      a { color: $primary_color; }
    }

  }
}

@media (max-width: 1024px) {
  .tab-menu {
    .item {
      margin-right: 1rem;
      a {
        padding: 0.5rem;
      }
    }
  }
}