@import './../../assets/scss/variables';

$width_sidebar_open: 14rem;
$width_sidebar_close: 4.64rem;
$width_sidebar_profile_open: 14.5rem;

.site-layout {
  min-height: 100vh;

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: $width_sidebar_close;
    height: 100vh;
    box-shadow: 0px 2px 10px rgba($color_text_primary, .15);
    -webkit-box-shadow: 0px 2px 10px rgba($color_text_primary, .15);
  }

  main {
    margin-left: $width_sidebar_close;
  }

  &__open {
    .sidebar {
      width: $width_sidebar_open;
    }

    main {
      margin-left: $width_sidebar_open;
    }
  }

  .main-layout__profile {
    margin-left: $width_sidebar_profile_open;
  }
}

.side-layout-profile {
  .sidebar {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .site-layout {
    &__open {
      main {
        margin-left: $width_sidebar_close;
      }
    }
  }
}
